<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>




<% @users.each do |a| %>
<p>
  <strong>First Name:</strong> <%= a.firstname %> &nbsp; &nbsp;<strong>Last Name:</strong> <%= a.lastname %>
<br>
  <strong>Username:</strong> <%= a.username %> &nbsp; &nbsp;<strong>Email:</strong> <%= a.email %>
</p>
<p></p>
<% end %>


<%#= link_to 'Show', user %>
<%#= link_to 'Edit', edit_user_path(a) %>
<%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
