<h1>Your User Account Has Successfully Been Updated!</h1>
<p>&nbsp;</p>

<h1>Hello <%= @user.firstname %> <%= @user.lastname %>,</h1>

Your username is <%= @user.username %>.
<p></p>
Your email address on file is <%= @user.email %>.
